.section8
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    padding: 50px
    color: white
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../../../public/img/footer-bg.jpg) contain no-repeat

    .botton-line
        margin-left: 48.3%
        margin-bottom: 5%
        margin-top: 2%
        border: 1.5px solid rgba(203, 202, 208, 0.9)
        width: 3vw
        
    .accordeon
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 20px
        color: black
        padding-top: 3rem
        padding-left: 10vw
        padding-right: 10vw
        div
            background: white
            border-radius: 4px
            padding: 1rem
            // transition: all .5s ease-in-out
            
            .accordeonTitle
                display: flex
                flex-direction: row
                justify-content: space-between
                  // transition: all .5s ease-in-o
                
                h4
                    .fa-regular   //question mark
                        color: rgba(86, 58, 250, 0.9)
                        font-weight: lighter
                        font-size: 20px
                        
                .fa-solid     //arrow down/up
                    font-size: 20px
                    color: rgba(86, 58, 250, 0.9)
                                
            
.contain
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px
    
    
    

.contain:hover
    cursor: pointer



.none
    display: none

.block
    display: block

.fa-chevron-up
    display: none
