footer
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../../../public/img/footer-bg.jpg) center center no-repeat
    width: 100vw
    // padding: 0;
    // margin: 0;
    // height: 20%;

#scrollTop
    background-color: rgb(88, 70, 250)
    position: fixed
    bottom: 5%
    right: 2%
    color: #fff
    width: 1.8rem
    height: 1.8rem
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    font-size: 0.8rem

.textFooter
    color: white
    list-style: none
    padding: 2.3%

.logoAll
    margin-left: 5%

.btnFooter
    background-color:rgb(150, 83, 223) 

.iconAll i
    font-size: 50%
    background-color: rgba(104, 83, 241, 0.5)
    border-radius: 50%
    padding: 1%
    color: white

@media only screen and (max-width: 425px) 
    footer
        .row
            text-align: start
        
    

@media only screen and (max-width: 768px) 
    footer
        .row
            text-align: start
        
        
        .molenGeek
            padding-bottom: 5%
        
        .Ulinks
            padding-bottom: 5%
        
    
