.section1
    width: 100%
    background: white
    display: flex
    flex-direction: row
    align-items: center
    padding: 50px
    // width: 100%
    // height: 100vh
    #section1-text
        padding: 10vw
        

    .start-content
            // background: blue
            display: flex
            flex-direction: column
            align-items: center
            height: 50%
            padding: vw
            line-height: 2
            img
                width: 45vw
                height: 30vw


@media screen  and (max-width: 768px)
    .section1
            flex-direction: column-reverse
    .start-content
        font-size: 15px
        width: 100%
        padding: 0
        flex-direction: row
        img
            width: 30vw
            height: 20vw

// @media only screen and (max-width: 425px)
//     .section1
//             flex-direction: column-reverse
//     .start-content
//         font-size: smaller
//         width: 100%
//     #section1-text
//         padding: 0
