.section3
    // height:100vh
    // width: 100%
    display: flex
    align-content: center
    justify-content: space-between
    flex-direction: column
    background: #EAE7ED
    padding: 40px

    #section3-text
        display: flex
        align-content: center
        flex-direction: column
        align-items: center




*, ::before, ::after 
    box-sizing: border-box
    margin: 0
    padding: 0



.grille 
    max-width: 1300px
    width: 80%
    height: auto
    margin: 30px auto
    // border: 1px solid #333
    display: grid
    grid-template-columns: repeat(auto-fill, 300px)
    justify-content: center
    grid-gap: 10px

.grid-item 
    background: white
    width: 300px
    height: 200px
    // border: 1px solid #333



